.hover-link {
  position: relative;
  display: flex;
  text-wrap: nowrap;
  overflow: hidden;
}
.hover-in {
  position: relative;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-in div {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
}
.hover-link:hover .hover-in {
  transform: translateY(-100%);
  color: var(--accentColor);
}
